* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

body {

}

.header {
    background-color: #1F2937;
    color:#fff;
}
.header-logo {
    font-weight: bolder;
    padding-left: 60px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}
.links {
    list-style: none;
    display: flex;
    gap: 8px;

}
.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    gap: 32px;
    padding-bottom: 60px;
}
.hero-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color:#f9faf8;
    margin-bottom: 8px;
    padding-left: 60px;

}
.hero-second-text {
    font-size: 18px;
    color: #E5E7EB;
    overflow-wrap: break-all;
    padding-left: 60px;
    margin-bottom: 16px;
}

.button-one {
    border-radius: 3px;
    padding: 6px 14px;
    background-color: #3882f6;
    color:#fff;
    border: none;
    margin-left: 60px;
}
.main-image {
 width: 50%;
 padding-right: px;

}
.info-header {
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;

}
.info-content {
    display: flex;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
}
.subtext {
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-content img {
    height: 150px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.action {
    background-color:#3882f6;
    color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px;
    margin: 100px;
}

.action-text {
    font-size: 20px;
}
.action-text-two {
    font-size: smaller;
}
.button-two {
    background-color: transparent;
    padding: 6px 14px;
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
}
.quote {
    border: 100px;
    font-size: 36px;
    font-style: italic;
    font-weight: 20px;
    font-family: sans-serif;
}
.quote-section {
    background-color: #E5e7eb;
    margin-bottom: 60px;
    padding: 60px 60px;
}
.thor {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 16px;
    font-weight: bolder;
}
.footer {
    background-color: #1F2937;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
}